App_DeliveryNow/App_DeliveryNow/Web References/Reference_DeliveryNow/WS_App.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="send_error">
        <s:complexType />
      </s:element>
      <s:element name="send_errorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="send_errorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="send_register_sucess">
        <s:complexType />
      </s:element>
      <s:element name="send_register_sucessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="send_register_sucessResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="send_login_success">
        <s:complexType />
      </s:element>
      <s:element name="send_login_successResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="send_login_successResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hash_password">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="hash_passwordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hash_passwordResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seed" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verify_hash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="hashDB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verify_hashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="verify_hashResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="is_logged_in">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="is_logged_inResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="is_logged_inResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_data">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="seed" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pay_method" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_dataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_dataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login_verify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="login_verifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="login_verifyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="show_customer_name">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="show_customer_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="show_customer_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserPM">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payMeth" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserPMResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserPMResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_nike_name">
        <s:complexType />
      </s:element>
      <s:element name="get_nike_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_nike_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_nike_description">
        <s:complexType />
      </s:element>
      <s:element name="get_nike_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_nike_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_nike_image">
        <s:complexType />
      </s:element>
      <s:element name="get_nike_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_nike_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_NB_name">
        <s:complexType />
      </s:element>
      <s:element name="get_NB_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_NB_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_NB_description">
        <s:complexType />
      </s:element>
      <s:element name="get_NB_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_NB_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_NB_image">
        <s:complexType />
      </s:element>
      <s:element name="get_NB_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_NB_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_xiaomi_name">
        <s:complexType />
      </s:element>
      <s:element name="get_xiaomi_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_xiaomi_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_xiaomi_description">
        <s:complexType />
      </s:element>
      <s:element name="get_xiaomi_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_xiaomi_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_xiaomi_image">
        <s:complexType />
      </s:element>
      <s:element name="get_xiaomi_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_xiaomi_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_ET_name">
        <s:complexType />
      </s:element>
      <s:element name="get_ET_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_ET_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_ET_description">
        <s:complexType />
      </s:element>
      <s:element name="get_ET_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_ET_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_ET_image">
        <s:complexType />
      </s:element>
      <s:element name="get_ET_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_ET_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_AM_name">
        <s:complexType />
      </s:element>
      <s:element name="get_AM_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_AM_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_AM_description">
        <s:complexType />
      </s:element>
      <s:element name="get_AM_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_AM_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_AM_image">
        <s:complexType />
      </s:element>
      <s:element name="get_AM_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_AM_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_walmart_name">
        <s:complexType />
      </s:element>
      <s:element name="get_walmart_nameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_walmart_nameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_walmart_description">
        <s:complexType />
      </s:element>
      <s:element name="get_walmart_descriptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_walmart_descriptionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_walmart_image">
        <s:complexType />
      </s:element>
      <s:element name="get_walmart_imageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_walmart_imageResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_cart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="customer_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="subtotal" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_cartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_cartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search_cart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="search_cartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="search_cartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="display_cart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="display_cartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="display_cartResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="display_prices">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prodID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="display_pricesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="display_pricesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_infoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="get_cart_infoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_quantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_quantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_cart_quantityResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_subtotal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_cart_subtotalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_cart_subtotalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_order">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="company" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="product_units" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="order_time" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="order_status" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_orderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_orderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_order_details">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="order_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="product_id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="product_units" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="product_price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="order_price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="order_status" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insert_order_detailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insert_order_detailsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empty_cart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="empty_cartResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="send_errorSoapIn">
    <wsdl:part name="parameters" element="tns:send_error" />
  </wsdl:message>
  <wsdl:message name="send_errorSoapOut">
    <wsdl:part name="parameters" element="tns:send_errorResponse" />
  </wsdl:message>
  <wsdl:message name="send_register_sucessSoapIn">
    <wsdl:part name="parameters" element="tns:send_register_sucess" />
  </wsdl:message>
  <wsdl:message name="send_register_sucessSoapOut">
    <wsdl:part name="parameters" element="tns:send_register_sucessResponse" />
  </wsdl:message>
  <wsdl:message name="send_login_successSoapIn">
    <wsdl:part name="parameters" element="tns:send_login_success" />
  </wsdl:message>
  <wsdl:message name="send_login_successSoapOut">
    <wsdl:part name="parameters" element="tns:send_login_successResponse" />
  </wsdl:message>
  <wsdl:message name="hash_passwordSoapIn">
    <wsdl:part name="parameters" element="tns:hash_password" />
  </wsdl:message>
  <wsdl:message name="hash_passwordSoapOut">
    <wsdl:part name="parameters" element="tns:hash_passwordResponse" />
  </wsdl:message>
  <wsdl:message name="verify_hashSoapIn">
    <wsdl:part name="parameters" element="tns:verify_hash" />
  </wsdl:message>
  <wsdl:message name="verify_hashSoapOut">
    <wsdl:part name="parameters" element="tns:verify_hashResponse" />
  </wsdl:message>
  <wsdl:message name="is_logged_inSoapIn">
    <wsdl:part name="parameters" element="tns:is_logged_in" />
  </wsdl:message>
  <wsdl:message name="is_logged_inSoapOut">
    <wsdl:part name="parameters" element="tns:is_logged_inResponse" />
  </wsdl:message>
  <wsdl:message name="insert_dataSoapIn">
    <wsdl:part name="parameters" element="tns:insert_data" />
  </wsdl:message>
  <wsdl:message name="insert_dataSoapOut">
    <wsdl:part name="parameters" element="tns:insert_dataResponse" />
  </wsdl:message>
  <wsdl:message name="login_verifySoapIn">
    <wsdl:part name="parameters" element="tns:login_verify" />
  </wsdl:message>
  <wsdl:message name="login_verifySoapOut">
    <wsdl:part name="parameters" element="tns:login_verifyResponse" />
  </wsdl:message>
  <wsdl:message name="show_customer_nameSoapIn">
    <wsdl:part name="parameters" element="tns:show_customer_name" />
  </wsdl:message>
  <wsdl:message name="show_customer_nameSoapOut">
    <wsdl:part name="parameters" element="tns:show_customer_nameResponse" />
  </wsdl:message>
  <wsdl:message name="getUserAddSoapIn">
    <wsdl:part name="parameters" element="tns:getUserAdd" />
  </wsdl:message>
  <wsdl:message name="getUserAddSoapOut">
    <wsdl:part name="parameters" element="tns:getUserAddResponse" />
  </wsdl:message>
  <wsdl:message name="getUserPMSoapIn">
    <wsdl:part name="parameters" element="tns:getUserPM" />
  </wsdl:message>
  <wsdl:message name="getUserPMSoapOut">
    <wsdl:part name="parameters" element="tns:getUserPMResponse" />
  </wsdl:message>
  <wsdl:message name="get_nike_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_nike_name" />
  </wsdl:message>
  <wsdl:message name="get_nike_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_nike_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_nike_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_nike_description" />
  </wsdl:message>
  <wsdl:message name="get_nike_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_nike_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_nike_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_nike_image" />
  </wsdl:message>
  <wsdl:message name="get_nike_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_nike_imageResponse" />
  </wsdl:message>
  <wsdl:message name="get_NB_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_NB_name" />
  </wsdl:message>
  <wsdl:message name="get_NB_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_NB_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_NB_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_NB_description" />
  </wsdl:message>
  <wsdl:message name="get_NB_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_NB_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_NB_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_NB_image" />
  </wsdl:message>
  <wsdl:message name="get_NB_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_NB_imageResponse" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_xiaomi_name" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_xiaomi_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_xiaomi_description" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_xiaomi_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_xiaomi_image" />
  </wsdl:message>
  <wsdl:message name="get_xiaomi_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_xiaomi_imageResponse" />
  </wsdl:message>
  <wsdl:message name="get_ET_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_ET_name" />
  </wsdl:message>
  <wsdl:message name="get_ET_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_ET_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_ET_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_ET_description" />
  </wsdl:message>
  <wsdl:message name="get_ET_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_ET_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_ET_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_ET_image" />
  </wsdl:message>
  <wsdl:message name="get_ET_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_ET_imageResponse" />
  </wsdl:message>
  <wsdl:message name="get_AM_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_AM_name" />
  </wsdl:message>
  <wsdl:message name="get_AM_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_AM_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_AM_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_AM_description" />
  </wsdl:message>
  <wsdl:message name="get_AM_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_AM_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_AM_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_AM_image" />
  </wsdl:message>
  <wsdl:message name="get_AM_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_AM_imageResponse" />
  </wsdl:message>
  <wsdl:message name="get_walmart_nameSoapIn">
    <wsdl:part name="parameters" element="tns:get_walmart_name" />
  </wsdl:message>
  <wsdl:message name="get_walmart_nameSoapOut">
    <wsdl:part name="parameters" element="tns:get_walmart_nameResponse" />
  </wsdl:message>
  <wsdl:message name="get_walmart_descriptionSoapIn">
    <wsdl:part name="parameters" element="tns:get_walmart_description" />
  </wsdl:message>
  <wsdl:message name="get_walmart_descriptionSoapOut">
    <wsdl:part name="parameters" element="tns:get_walmart_descriptionResponse" />
  </wsdl:message>
  <wsdl:message name="get_walmart_imageSoapIn">
    <wsdl:part name="parameters" element="tns:get_walmart_image" />
  </wsdl:message>
  <wsdl:message name="get_walmart_imageSoapOut">
    <wsdl:part name="parameters" element="tns:get_walmart_imageResponse" />
  </wsdl:message>
  <wsdl:message name="insert_cartSoapIn">
    <wsdl:part name="parameters" element="tns:insert_cart" />
  </wsdl:message>
  <wsdl:message name="insert_cartSoapOut">
    <wsdl:part name="parameters" element="tns:insert_cartResponse" />
  </wsdl:message>
  <wsdl:message name="search_cartSoapIn">
    <wsdl:part name="parameters" element="tns:search_cart" />
  </wsdl:message>
  <wsdl:message name="search_cartSoapOut">
    <wsdl:part name="parameters" element="tns:search_cartResponse" />
  </wsdl:message>
  <wsdl:message name="display_cartSoapIn">
    <wsdl:part name="parameters" element="tns:display_cart" />
  </wsdl:message>
  <wsdl:message name="display_cartSoapOut">
    <wsdl:part name="parameters" element="tns:display_cartResponse" />
  </wsdl:message>
  <wsdl:message name="display_pricesSoapIn">
    <wsdl:part name="parameters" element="tns:display_prices" />
  </wsdl:message>
  <wsdl:message name="display_pricesSoapOut">
    <wsdl:part name="parameters" element="tns:display_pricesResponse" />
  </wsdl:message>
  <wsdl:message name="get_cart_infoSoapIn">
    <wsdl:part name="parameters" element="tns:get_cart_info" />
  </wsdl:message>
  <wsdl:message name="get_cart_infoSoapOut">
    <wsdl:part name="parameters" element="tns:get_cart_infoResponse" />
  </wsdl:message>
  <wsdl:message name="get_cart_quantitySoapIn">
    <wsdl:part name="parameters" element="tns:get_cart_quantity" />
  </wsdl:message>
  <wsdl:message name="get_cart_quantitySoapOut">
    <wsdl:part name="parameters" element="tns:get_cart_quantityResponse" />
  </wsdl:message>
  <wsdl:message name="get_cart_subtotalSoapIn">
    <wsdl:part name="parameters" element="tns:get_cart_subtotal" />
  </wsdl:message>
  <wsdl:message name="get_cart_subtotalSoapOut">
    <wsdl:part name="parameters" element="tns:get_cart_subtotalResponse" />
  </wsdl:message>
  <wsdl:message name="insert_orderSoapIn">
    <wsdl:part name="parameters" element="tns:insert_order" />
  </wsdl:message>
  <wsdl:message name="insert_orderSoapOut">
    <wsdl:part name="parameters" element="tns:insert_orderResponse" />
  </wsdl:message>
  <wsdl:message name="insert_order_detailsSoapIn">
    <wsdl:part name="parameters" element="tns:insert_order_details" />
  </wsdl:message>
  <wsdl:message name="insert_order_detailsSoapOut">
    <wsdl:part name="parameters" element="tns:insert_order_detailsResponse" />
  </wsdl:message>
  <wsdl:message name="empty_cartSoapIn">
    <wsdl:part name="parameters" element="tns:empty_cart" />
  </wsdl:message>
  <wsdl:message name="empty_cartSoapOut">
    <wsdl:part name="parameters" element="tns:empty_cartResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_AppSoap">
    <wsdl:operation name="send_error">
      <wsdl:input message="tns:send_errorSoapIn" />
      <wsdl:output message="tns:send_errorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="send_register_sucess">
      <wsdl:input message="tns:send_register_sucessSoapIn" />
      <wsdl:output message="tns:send_register_sucessSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="send_login_success">
      <wsdl:input message="tns:send_login_successSoapIn" />
      <wsdl:output message="tns:send_login_successSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="hash_password">
      <wsdl:input message="tns:hash_passwordSoapIn" />
      <wsdl:output message="tns:hash_passwordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verify_hash">
      <wsdl:input message="tns:verify_hashSoapIn" />
      <wsdl:output message="tns:verify_hashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="is_logged_in">
      <wsdl:input message="tns:is_logged_inSoapIn" />
      <wsdl:output message="tns:is_logged_inSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_data">
      <wsdl:input message="tns:insert_dataSoapIn" />
      <wsdl:output message="tns:insert_dataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="login_verify">
      <wsdl:input message="tns:login_verifySoapIn" />
      <wsdl:output message="tns:login_verifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="show_customer_name">
      <wsdl:input message="tns:show_customer_nameSoapIn" />
      <wsdl:output message="tns:show_customer_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserAdd">
      <wsdl:input message="tns:getUserAddSoapIn" />
      <wsdl:output message="tns:getUserAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserPM">
      <wsdl:input message="tns:getUserPMSoapIn" />
      <wsdl:output message="tns:getUserPMSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_nike_name">
      <wsdl:input message="tns:get_nike_nameSoapIn" />
      <wsdl:output message="tns:get_nike_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_nike_description">
      <wsdl:input message="tns:get_nike_descriptionSoapIn" />
      <wsdl:output message="tns:get_nike_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_nike_image">
      <wsdl:input message="tns:get_nike_imageSoapIn" />
      <wsdl:output message="tns:get_nike_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_NB_name">
      <wsdl:input message="tns:get_NB_nameSoapIn" />
      <wsdl:output message="tns:get_NB_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_NB_description">
      <wsdl:input message="tns:get_NB_descriptionSoapIn" />
      <wsdl:output message="tns:get_NB_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_NB_image">
      <wsdl:input message="tns:get_NB_imageSoapIn" />
      <wsdl:output message="tns:get_NB_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_name">
      <wsdl:input message="tns:get_xiaomi_nameSoapIn" />
      <wsdl:output message="tns:get_xiaomi_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_description">
      <wsdl:input message="tns:get_xiaomi_descriptionSoapIn" />
      <wsdl:output message="tns:get_xiaomi_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_image">
      <wsdl:input message="tns:get_xiaomi_imageSoapIn" />
      <wsdl:output message="tns:get_xiaomi_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_ET_name">
      <wsdl:input message="tns:get_ET_nameSoapIn" />
      <wsdl:output message="tns:get_ET_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_ET_description">
      <wsdl:input message="tns:get_ET_descriptionSoapIn" />
      <wsdl:output message="tns:get_ET_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_ET_image">
      <wsdl:input message="tns:get_ET_imageSoapIn" />
      <wsdl:output message="tns:get_ET_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_AM_name">
      <wsdl:input message="tns:get_AM_nameSoapIn" />
      <wsdl:output message="tns:get_AM_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_AM_description">
      <wsdl:input message="tns:get_AM_descriptionSoapIn" />
      <wsdl:output message="tns:get_AM_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_AM_image">
      <wsdl:input message="tns:get_AM_imageSoapIn" />
      <wsdl:output message="tns:get_AM_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_walmart_name">
      <wsdl:input message="tns:get_walmart_nameSoapIn" />
      <wsdl:output message="tns:get_walmart_nameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_walmart_description">
      <wsdl:input message="tns:get_walmart_descriptionSoapIn" />
      <wsdl:output message="tns:get_walmart_descriptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_walmart_image">
      <wsdl:input message="tns:get_walmart_imageSoapIn" />
      <wsdl:output message="tns:get_walmart_imageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_cart">
      <wsdl:input message="tns:insert_cartSoapIn" />
      <wsdl:output message="tns:insert_cartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="search_cart">
      <wsdl:input message="tns:search_cartSoapIn" />
      <wsdl:output message="tns:search_cartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="display_cart">
      <wsdl:input message="tns:display_cartSoapIn" />
      <wsdl:output message="tns:display_cartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="display_prices">
      <wsdl:input message="tns:display_pricesSoapIn" />
      <wsdl:output message="tns:display_pricesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_cart_info">
      <wsdl:input message="tns:get_cart_infoSoapIn" />
      <wsdl:output message="tns:get_cart_infoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_cart_quantity">
      <wsdl:input message="tns:get_cart_quantitySoapIn" />
      <wsdl:output message="tns:get_cart_quantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_cart_subtotal">
      <wsdl:input message="tns:get_cart_subtotalSoapIn" />
      <wsdl:output message="tns:get_cart_subtotalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_order">
      <wsdl:input message="tns:insert_orderSoapIn" />
      <wsdl:output message="tns:insert_orderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insert_order_details">
      <wsdl:input message="tns:insert_order_detailsSoapIn" />
      <wsdl:output message="tns:insert_order_detailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="empty_cart">
      <wsdl:input message="tns:empty_cartSoapIn" />
      <wsdl:output message="tns:empty_cartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_AppSoap" type="tns:WS_AppSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="send_error">
      <soap:operation soapAction="http://tempuri.org/send_error" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_register_sucess">
      <soap:operation soapAction="http://tempuri.org/send_register_sucess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_login_success">
      <soap:operation soapAction="http://tempuri.org/send_login_success" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hash_password">
      <soap:operation soapAction="http://tempuri.org/hash_password" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify_hash">
      <soap:operation soapAction="http://tempuri.org/verify_hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="is_logged_in">
      <soap:operation soapAction="http://tempuri.org/is_logged_in" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_data">
      <soap:operation soapAction="http://tempuri.org/insert_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login_verify">
      <soap:operation soapAction="http://tempuri.org/login_verify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show_customer_name">
      <soap:operation soapAction="http://tempuri.org/show_customer_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAdd">
      <soap:operation soapAction="http://tempuri.org/getUserAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPM">
      <soap:operation soapAction="http://tempuri.org/getUserPM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_name">
      <soap:operation soapAction="http://tempuri.org/get_nike_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_description">
      <soap:operation soapAction="http://tempuri.org/get_nike_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_image">
      <soap:operation soapAction="http://tempuri.org/get_nike_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_name">
      <soap:operation soapAction="http://tempuri.org/get_NB_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_description">
      <soap:operation soapAction="http://tempuri.org/get_NB_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_image">
      <soap:operation soapAction="http://tempuri.org/get_NB_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_name">
      <soap:operation soapAction="http://tempuri.org/get_xiaomi_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_description">
      <soap:operation soapAction="http://tempuri.org/get_xiaomi_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_image">
      <soap:operation soapAction="http://tempuri.org/get_xiaomi_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_name">
      <soap:operation soapAction="http://tempuri.org/get_ET_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_description">
      <soap:operation soapAction="http://tempuri.org/get_ET_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_image">
      <soap:operation soapAction="http://tempuri.org/get_ET_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_name">
      <soap:operation soapAction="http://tempuri.org/get_AM_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_description">
      <soap:operation soapAction="http://tempuri.org/get_AM_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_image">
      <soap:operation soapAction="http://tempuri.org/get_AM_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_name">
      <soap:operation soapAction="http://tempuri.org/get_walmart_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_description">
      <soap:operation soapAction="http://tempuri.org/get_walmart_description" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_image">
      <soap:operation soapAction="http://tempuri.org/get_walmart_image" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_cart">
      <soap:operation soapAction="http://tempuri.org/insert_cart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_cart">
      <soap:operation soapAction="http://tempuri.org/search_cart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display_cart">
      <soap:operation soapAction="http://tempuri.org/display_cart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display_prices">
      <soap:operation soapAction="http://tempuri.org/display_prices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_info">
      <soap:operation soapAction="http://tempuri.org/get_cart_info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_quantity">
      <soap:operation soapAction="http://tempuri.org/get_cart_quantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_subtotal">
      <soap:operation soapAction="http://tempuri.org/get_cart_subtotal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_order">
      <soap:operation soapAction="http://tempuri.org/insert_order" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_order_details">
      <soap:operation soapAction="http://tempuri.org/insert_order_details" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empty_cart">
      <soap:operation soapAction="http://tempuri.org/empty_cart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_AppSoap12" type="tns:WS_AppSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="send_error">
      <soap12:operation soapAction="http://tempuri.org/send_error" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_register_sucess">
      <soap12:operation soapAction="http://tempuri.org/send_register_sucess" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="send_login_success">
      <soap12:operation soapAction="http://tempuri.org/send_login_success" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hash_password">
      <soap12:operation soapAction="http://tempuri.org/hash_password" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verify_hash">
      <soap12:operation soapAction="http://tempuri.org/verify_hash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="is_logged_in">
      <soap12:operation soapAction="http://tempuri.org/is_logged_in" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_data">
      <soap12:operation soapAction="http://tempuri.org/insert_data" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login_verify">
      <soap12:operation soapAction="http://tempuri.org/login_verify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="show_customer_name">
      <soap12:operation soapAction="http://tempuri.org/show_customer_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserAdd">
      <soap12:operation soapAction="http://tempuri.org/getUserAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserPM">
      <soap12:operation soapAction="http://tempuri.org/getUserPM" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_name">
      <soap12:operation soapAction="http://tempuri.org/get_nike_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_description">
      <soap12:operation soapAction="http://tempuri.org/get_nike_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_nike_image">
      <soap12:operation soapAction="http://tempuri.org/get_nike_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_name">
      <soap12:operation soapAction="http://tempuri.org/get_NB_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_description">
      <soap12:operation soapAction="http://tempuri.org/get_NB_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_NB_image">
      <soap12:operation soapAction="http://tempuri.org/get_NB_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_name">
      <soap12:operation soapAction="http://tempuri.org/get_xiaomi_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_description">
      <soap12:operation soapAction="http://tempuri.org/get_xiaomi_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_xiaomi_image">
      <soap12:operation soapAction="http://tempuri.org/get_xiaomi_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_name">
      <soap12:operation soapAction="http://tempuri.org/get_ET_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_description">
      <soap12:operation soapAction="http://tempuri.org/get_ET_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ET_image">
      <soap12:operation soapAction="http://tempuri.org/get_ET_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_name">
      <soap12:operation soapAction="http://tempuri.org/get_AM_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_description">
      <soap12:operation soapAction="http://tempuri.org/get_AM_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AM_image">
      <soap12:operation soapAction="http://tempuri.org/get_AM_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_name">
      <soap12:operation soapAction="http://tempuri.org/get_walmart_name" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_description">
      <soap12:operation soapAction="http://tempuri.org/get_walmart_description" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_walmart_image">
      <soap12:operation soapAction="http://tempuri.org/get_walmart_image" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_cart">
      <soap12:operation soapAction="http://tempuri.org/insert_cart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="search_cart">
      <soap12:operation soapAction="http://tempuri.org/search_cart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display_cart">
      <soap12:operation soapAction="http://tempuri.org/display_cart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="display_prices">
      <soap12:operation soapAction="http://tempuri.org/display_prices" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_info">
      <soap12:operation soapAction="http://tempuri.org/get_cart_info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_quantity">
      <soap12:operation soapAction="http://tempuri.org/get_cart_quantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_cart_subtotal">
      <soap12:operation soapAction="http://tempuri.org/get_cart_subtotal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_order">
      <soap12:operation soapAction="http://tempuri.org/insert_order" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert_order_details">
      <soap12:operation soapAction="http://tempuri.org/insert_order_details" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="empty_cart">
      <soap12:operation soapAction="http://tempuri.org/empty_cart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_App">
    <wsdl:port name="WS_AppSoap" binding="tns:WS_AppSoap">
      <soap:address location="https://localhost:44341/WS_App.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_AppSoap12" binding="tns:WS_AppSoap12">
      <soap12:address location="https://localhost:44341/WS_App.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>